openapi: 3.2.0
info:
  title: Get on Board Regions API
  version: 0.1.0
  description: The Get on Board API provides access to the data inside Get on Board, the leading recruitment platform for tech professionals in Latin America.
servers:
- url: https://www.getonbrd.com
  description: Production
- url: https://sandbox.getonbrd.dev
  description: Sandbox
tags:
- name: Regions
  description: Geographic regions
paths:
  /api/v0/regions:
    get:
      summary: List regions
      tags:
      - Regions
      responses:
        '200':
          description: Returns all available regions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                          required:
                          - name
                      required:
                      - id
                      - type
                      - attributes
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_pages:
                        type: integer
                    required:
                    - page
                    - per_page
                    - total_pages
                required:
                - data
                - meta
              example:
                data:
                - id: '1'
                  type: region
                  attributes:
                    name: South America
                meta:
                  page: 2
                  per_page: 1
                  total_pages: 6
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        example: 2
        description: Page number, starting at 1.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 120
        example: 1
        description: Number of records per page. The default and maximum are usually 120 unless an endpoint documents a different behavior.
      operationId: listRegions
  /api/v0/regions/{id}:
    get:
      summary: List regions
      tags:
      - Regions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: central_america
        description: Region slug from `GET /api/v0/regions`.
      responses:
        '200':
          description: Returns all available regions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                        required:
                        - name
                    required:
                    - id
                    - type
                    - attributes
                required:
                - data
              example:
                data:
                  id: central_america
                  type: region
                  attributes:
                    name: Central America
      operationId: retrieveRegion
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Company authentication for private endpoints. Send `Authorization: Bearer <api_key>`.'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Professional JWT token obtained via /api/v0/auth_tokens
    BoardSecretKey:
      type: http
      scheme: bearer
      bearerFormat: Board secret
      description: 'Board+ HMAC secret key. Send `Authorization: Bearer <board_secret_key>`. The legacy query-string form (`?secret_key=...`) is still accepted by the server but is discouraged because secrets leak into logs, browser history, and referrers.'
x-tagGroups:
- name: Public
  tags:
  - Categories
  - Companies
  - Countries
  - Headcounts
  - Industries
  - Insights
  - Modalities
  - Perks
  - Regions
  - Search
  - Seniorities
  - Tags
  - Tenant Cities
- name: Private
  tags:
  - Applications
  - Company shells
  - Jobs
  - Matching
  - Processes
  - Professionals
  - Webhooks
- name: Authentication
  tags:
  - Authentication
- name: Board+
  tags:
  - Board+
