openapi: 3.2.0
info:
  title: Get on Board Board+ API
  version: 0.1.0
  description: The Get on Board API provides access to the data inside Get on Board, the leading recruitment platform for tech professionals in Latin America.
servers:
- url: https://www.getonbrd.com
  description: Production
- url: https://sandbox.getonbrd.dev
  description: Sandbox
tags:
- name: Board+
  description: Private board integration
paths:
  /api/v0/board/professionals:
    delete:
      summary: Remove board professionals
      tags:
      - Board+
      security:
      - BoardSecretKey: []
      parameters:
      - name: emails
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        example:
        - webpro5@example.com
        - pending.webpro@outlook.com
      - name: secret_key
        in: query
        required: false
        schema:
          type: string
        example: invalid_token
      responses:
        '202':
          description: Enqueues a batch of professional emails for board unwhitelisting.
          content:
            text/html:
              schema:
                type: string
              example: ''
        '401':
          description: Enqueues a batch of professional emails for board unwhitelisting.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: (Status 401) Unauthorized access to Board+ API
                code: unauthorized
      operationId: removeBoardProfessionals
    get:
      summary: Retrieve a board professional
      tags:
      - Board+
      security:
      - BoardSecretKey: []
      parameters:
      - name: email
        in: query
        required: false
        schema:
          type: string
        example: webpro9@example.com
      - name: secret_key
        in: query
        required: false
        schema:
          type: string
        example: 0K6i4FlWDnaPh1zEnxqWnA5wIEL9uVucSDy4aV1UNIxD
      responses:
        '200':
          description: Returns a board professional by email for the authenticated board.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          email:
                            type: string
                          status:
                            type: string
                          professional:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  type:
                                    type: string
                                required:
                                - id
                                - type
                            required:
                            - data
                        required:
                        - email
                        - status
                        - professional
                    required:
                    - id
                    - type
                    - attributes
                required:
                - data
              example:
                data:
                  id: '1'
                  type: board_professional
                  attributes:
                    email: webpro9@example.com
                    status: completed
                    professional:
                      data:
                        id: 9
                        type: professional
        '401':
          description: Returns a board professional by email for the authenticated board.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: (Status 401) Unauthorized access to Board+ API
                code: unauthorized
        '404':
          description: Returns a board professional by email for the authenticated board.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: Record not found
                code: not_found
      operationId: retrieveBoardProfessional
      description: 'Board+ whitelist flow: check one professional by `email`, use `POST /api/v0/board/professionals` to enqueue whitelisting for one or more emails, and use `DELETE /api/v0/board/professionals` to enqueue removal.'
    post:
      summary: Whitelist board professionals
      tags:
      - Board+
      security:
      - BoardSecretKey: []
      parameters:
      - name: emails
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        example:
        - webpro12@example.com
        - pending.webpro@outlook.com
      - name: secret_key
        in: query
        required: false
        schema:
          type: string
        example: z0cHmSMeNkbur7EZkFLanQmWnkPT7Jg4LlOD7TnuKUwF
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
            example: {}
      responses:
        '202':
          description: Enqueues a batch of professional emails for board whitelisting.
          content:
            text/html:
              schema:
                type: string
              example: ''
        '401':
          description: Enqueues a batch of professional emails for board whitelisting.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: (Status 401) Unauthorized access to Board+ API
                code: unauthorized
      operationId: whitelistBoardProfessionals
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Company authentication for private endpoints. Send `Authorization: Bearer <api_key>`.'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Professional JWT token obtained via /api/v0/auth_tokens
    BoardSecretKey:
      type: http
      scheme: bearer
      bearerFormat: Board secret
      description: 'Board+ HMAC secret key. Send `Authorization: Bearer <board_secret_key>`. The legacy query-string form (`?secret_key=...`) is still accepted by the server but is discouraged because secrets leak into logs, browser history, and referrers.'
x-tagGroups:
- name: Public
  tags:
  - Categories
  - Companies
  - Countries
  - Headcounts
  - Industries
  - Insights
  - Modalities
  - Perks
  - Regions
  - Search
  - Seniorities
  - Tags
  - Tenant Cities
- name: Private
  tags:
  - Applications
  - Company shells
  - Jobs
  - Matching
  - Processes
  - Professionals
  - Webhooks
- name: Authentication
  tags:
  - Authentication
- name: Board+
  tags:
  - Board+
