openapi: 3.2.0
info:
  title: Get on Board Insights API
  version: 0.1.0
  description: The Get on Board API provides access to the data inside Get on Board, the leading recruitment platform for tech professionals in Latin America.
servers:
- url: https://www.getonbrd.com
  description: Production
- url: https://sandbox.getonbrd.dev
  description: Sandbox
tags:
- name: Insights
  description: Market insights and analytics
paths:
  /api/v0/insights/{id}:
    get:
      summary: Get an insight
      tags:
      - Insights
      parameters:
      - name: admin
        in: query
        required: false
        schema:
          type: string
        example: 'true'
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: test_query
        description: Insight query ID.
      - name: no_cache
        in: query
        required: false
        schema:
          type: string
        example: 'true'
      - name: year
        in: query
        required: false
        schema:
          oneOf:
          - type: integer
          - type: string
          type: integer
          minimum: 2000
        example: 2024
        description: Calendar year used to filter insight data.
      responses:
        '200':
          description: Returns the result of a named insight query.
          content:
            application/json:
              schema:
                type: array
                properties:
                  ok:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: integer
                  big:
                    type: array
                    items:
                      type: string
                items: {}
              example: []
        '422':
          description: Returns the result of a named insight query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: Year must be a 4-digit value
                code: unprocessable_content
        '500':
          description: Returns the result of a named insight query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: Internal server error
                code: internal_server_error
        '503':
          description: Returns the result of a named insight query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
              example:
                message: Data not ready, please retry shortly
      operationId: retrieveInsight
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Company authentication for private endpoints. Send `Authorization: Bearer <api_key>`.'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Professional JWT token obtained via /api/v0/auth_tokens
    BoardSecretKey:
      type: http
      scheme: bearer
      bearerFormat: Board secret
      description: 'Board+ HMAC secret key. Send `Authorization: Bearer <board_secret_key>`. The legacy query-string form (`?secret_key=...`) is still accepted by the server but is discouraged because secrets leak into logs, browser history, and referrers.'
x-tagGroups:
- name: Public
  tags:
  - Categories
  - Companies
  - Countries
  - Headcounts
  - Industries
  - Insights
  - Modalities
  - Perks
  - Regions
  - Search
  - Seniorities
  - Tags
  - Tenant Cities
- name: Private
  tags:
  - Applications
  - Company shells
  - Jobs
  - Matching
  - Processes
  - Professionals
  - Webhooks
- name: Authentication
  tags:
  - Authentication
- name: Board+
  tags:
  - Board+
