openapi: 3.2.0
info:
  title: Get on Board Matching API
  version: 0.1.0
  description: The Get on Board API provides access to the data inside Get on Board, the leading recruitment platform for tech professionals in Latin America.
servers:
- url: https://www.getonbrd.com
  description: Production
- url: https://sandbox.getonbrd.dev
  description: Sandbox
tags:
- name: Matching
  description: Job matching for professionals
paths:
  /api/v0/matching_jobs:
    get:
      summary: List matching jobs
      tags:
      - Matching
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Returns jobs matching the authenticated professional's profile preferences.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            title:
                              type: string
                            description_headline: {}
                            description:
                              type: string
                            projects:
                              type: string
                            functions_headline: {}
                            functions:
                              type: string
                            benefits_headline: {}
                            benefits:
                              type: string
                            desirable_headline: {}
                            desirable:
                              type: string
                            remote:
                              type: boolean
                            remote_modality:
                              type: string
                            remote_zone: {}
                            countries:
                              type: array
                              items:
                                type: string
                            lang:
                              type: string
                            rejected_reasons:
                              type: array
                              items: {}
                            category_name:
                              type: string
                            perks:
                              type: array
                              items: {}
                            min_salary:
                              type: integer
                            max_salary:
                              type: integer
                            published_at:
                              type: integer
                            response_time_in_days:
                              type: object
                              properties:
                                min: {}
                                max: {}
                              required:
                              - min
                              - max
                            applications_count:
                              type: integer
                            location_regions:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items: {}
                              required:
                              - data
                            location_tenants:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items: {}
                              required:
                              - data
                            location_cities:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      type:
                                        type: string
                                    required:
                                    - id
                                    - type
                              required:
                              - data
                            modality:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    type:
                                      type: string
                                  required:
                                  - id
                                  - type
                              required:
                              - data
                            seniority:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    type:
                                      type: string
                                  required:
                                  - id
                                  - type
                              required:
                              - data
                            tags:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items: {}
                              required:
                              - data
                            company:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    type:
                                      type: string
                                  required:
                                  - id
                                  - type
                              required:
                              - data
                          required:
                          - title
                          - description_headline
                          - description
                          - projects
                          - functions_headline
                          - functions
                          - benefits_headline
                          - benefits
                          - desirable_headline
                          - desirable
                          - remote
                          - remote_modality
                          - remote_zone
                          - countries
                          - lang
                          - rejected_reasons
                          - category_name
                          - perks
                          - min_salary
                          - max_salary
                          - published_at
                          - response_time_in_days
                          - applications_count
                          - location_regions
                          - location_tenants
                          - location_cities
                          - modality
                          - seniority
                          - tags
                          - company
                        links:
                          type: object
                          properties:
                            public_url:
                              type: string
                          required:
                          - public_url
                      required:
                      - id
                      - type
                      - attributes
                      - links
                required:
                - data
              example:
                data:
                - id: '1'
                  type: job
                  attributes:
                    title: JavaScript Ninja
                    description_headline: null
                    description: Build reliable products for technical hiring teams.
                    projects: Build reliable products for technical hiring teams.
                    functions_headline: null
                    functions: Build reliable products for technical hiring teams.
                    benefits_headline: null
                    benefits: Build reliable products for technical hiring teams.
                    desirable_headline: null
                    desirable: ''
                    remote: false
                    remote_modality: no_remote
                    remote_zone: null
                    countries:
                    - Chile
                    lang: lang_not_specified
                    rejected_reasons: []
                    category_name: Programming
                    perks: []
                    min_salary: 1500
                    max_salary: 2000
                    published_at: 1784217408
                    response_time_in_days:
                      min: null
                      max: null
                    applications_count: 0
                    location_regions:
                      data: []
                    location_tenants:
                      data: []
                    location_cities:
                      data:
                      - id: 1
                        type: location_city
                    modality:
                      data:
                        id: 345
                        type: modality
                    seniority:
                      data:
                        id: 3
                        type: seniority
                    tags:
                      data: []
                    company:
                      data:
                        id: 296
                        type: company
                  links:
                    public_url: http://test.getonbrd.com/jobs/javascript-ninja-user-294-santiago
                - id: '1'
                  type: job
                  attributes:
                    title: JavaScript Ninja
                    description_headline: null
                    description: Build reliable products for technical hiring teams.
                    projects: Build reliable products for technical hiring teams.
                    functions_headline: null
                    functions: Build reliable products for technical hiring teams.
                    benefits_headline: null
                    benefits: Build reliable products for technical hiring teams.
                    desirable_headline: null
                    desirable: ''
                    remote: false
                    remote_modality: no_remote
                    remote_zone: null
                    countries:
                    - Chile
                    lang: lang_not_specified
                    rejected_reasons: []
                    category_name: Programming
                    perks: []
                    min_salary: 1500
                    max_salary: 2000
                    published_at: 1784217407
                    response_time_in_days:
                      min: null
                      max: null
                    applications_count: 0
                    location_regions:
                      data: []
                    location_tenants:
                      data: []
                    location_cities:
                      data:
                      - id: 1
                        type: location_city
                    modality:
                      data:
                        id: 344
                        type: modality
                    seniority:
                      data:
                        id: 3
                        type: seniority
                    tags:
                      data: []
                    company:
                      data:
                        id: 295
                        type: company
                  links:
                    public_url: http://test.getonbrd.com/jobs/javascript-ninja-user-293-santiago
                - id: '1'
                  type: job
                  attributes:
                    title: JavaScript Ninja
                    description_headline: null
                    description: Build reliable products for technical hiring teams.
                    projects: Build reliable products for technical hiring teams.
                    functions_headline: null
                    functions: Build reliable products for technical hiring teams.
                    benefits_headline: null
                    benefits: Build reliable products for technical hiring teams.
                    desirable_headline: null
                    desirable: ''
                    remote: false
                    remote_modality: no_remote
                    remote_zone: null
                    countries:
                    - Chile
                    lang: lang_not_specified
                    rejected_reasons: []
                    category_name: Programming
                    perks: []
                    min_salary: 1500
                    max_salary: 2000
                    published_at: 1784217407
                    response_time_in_days:
                      min: null
                      max: null
                    applications_count: 0
                    location_regions:
                      data: []
                    location_tenants:
                      data: []
                    location_cities:
                      data:
                      - id: 1
                        type: location_city
                    modality:
                      data:
                        id: 343
                        type: modality
                    seniority:
                      data:
                        id: 3
                        type: seniority
                    tags:
                      data: []
                    company:
                      data:
                        id: 294
                        type: company
                  links:
                    public_url: http://test.getonbrd.com/jobs/javascript-ninja-user-292-santiago
        '401':
          description: Returns jobs matching the authenticated professional's profile preferences.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: (Status 401) Unauthorized access.
                code: unauthorized
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: Bearer YOUR_JWT_TOKEN
        description: Bearer credential for the authentication scheme required by this endpoint.
      operationId: listMatchingJobs
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Company authentication for private endpoints. Send `Authorization: Bearer <api_key>`.'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Professional JWT token obtained via /api/v0/auth_tokens
    BoardSecretKey:
      type: http
      scheme: bearer
      bearerFormat: Board secret
      description: 'Board+ HMAC secret key. Send `Authorization: Bearer <board_secret_key>`. The legacy query-string form (`?secret_key=...`) is still accepted by the server but is discouraged because secrets leak into logs, browser history, and referrers.'
x-tagGroups:
- name: Public
  tags:
  - Categories
  - Companies
  - Countries
  - Headcounts
  - Industries
  - Insights
  - Modalities
  - Perks
  - Regions
  - Search
  - Seniorities
  - Tags
  - Tenant Cities
- name: Private
  tags:
  - Applications
  - Company shells
  - Jobs
  - Matching
  - Processes
  - Professionals
  - Webhooks
- name: Authentication
  tags:
  - Authentication
- name: Board+
  tags:
  - Board+
