openapi: 3.2.0
info:
  title: Get on Board Processes API
  version: 0.1.0
  description: The Get on Board API provides access to the data inside Get on Board, the leading recruitment platform for tech professionals in Latin America.
servers:
- url: https://www.getonbrd.com
  description: Production
- url: https://sandbox.getonbrd.dev
  description: Sandbox
tags:
- name: Processes
  description: Hiring process management
paths:
  /api/v0/processes:
    get:
      summary: List processes
      tags:
      - Processes
      security:
      - ApiKeyAuth: []
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
        example: Bearer YOUR_API_KEY
        description: Bearer credential for the authentication scheme required by this endpoint.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
        example: 2
        description: Page number, starting at 1.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 120
        example: 2
        description: Number of records per page. The default and maximum are usually 120 unless an endpoint documents a different behavior.
      responses:
        '200':
          description: Returns a paginated list of hiring processes for the authenticated company.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            active:
                              type: boolean
                            unlocked:
                              type: boolean
                            featured:
                              type: boolean
                            expires_on:
                              type: integer
                            created_at:
                              type: integer
                            updated_at:
                              type: integer
                            featured_at:
                              type: integer
                            closed_at:
                              type: integer
                            job:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    type:
                                      type: string
                                  required:
                                  - id
                                  - type
                              required:
                              - data
                            phases:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      type:
                                        type: string
                                    required:
                                    - id
                                    - type
                              required:
                              - data
                          required:
                          - active
                          - unlocked
                          - featured
                          - expires_on
                          - created_at
                          - updated_at
                          - featured_at
                          - closed_at
                          - job
                          - phases
                      required:
                      - id
                      - type
                      - attributes
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      per_page:
                        type: integer
                      total_pages:
                        type: integer
                    required:
                    - page
                    - per_page
                    - total_pages
                required:
                - data
                - meta
              example:
                data:
                - id: '1'
                  type: process
                  attributes:
                    active: true
                    unlocked: true
                    featured: false
                    expires_on: 0
                    created_at: 1784217403
                    updated_at: 1784217404
                    featured_at: 0
                    closed_at: 0
                    job:
                      data:
                        id: 310
                        type: job
                    phases:
                      data:
                      - id: 965
                        type: phase
                      - id: 966
                        type: phase
                      - id: 967
                        type: phase
                      - id: 968
                        type: phase
                - id: '1'
                  type: process
                  attributes:
                    active: true
                    unlocked: true
                    featured: false
                    expires_on: 0
                    created_at: 1784217404
                    updated_at: 1784217404
                    featured_at: 0
                    closed_at: 0
                    job:
                      data:
                        id: 311
                        type: job
                    phases:
                      data:
                      - id: 969
                        type: phase
                      - id: 970
                        type: phase
                      - id: 971
                        type: phase
                      - id: 972
                        type: phase
                - id: '1'
                  type: process
                  attributes:
                    active: true
                    unlocked: true
                    featured: false
                    expires_on: 0
                    created_at: 1784217404
                    updated_at: 1784217404
                    featured_at: 0
                    closed_at: 0
                    job:
                      data:
                        id: 312
                        type: job
                    phases:
                      data:
                      - id: 973
                        type: phase
                      - id: 974
                        type: phase
                      - id: 975
                        type: phase
                      - id: 976
                        type: phase
                meta:
                  page: 1
                  per_page: 120
                  total_pages: 1
        '401':
          description: Returns a paginated list of hiring processes for the authenticated company.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: (Status 401) Unauthorized access.
                code: unauthorized
      operationId: listProcesses
  /api/v0/processes/{id}:
    get:
      summary: Retrieve a process
      tags:
      - Processes
      security:
      - ApiKeyAuth: []
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        example: Bearer YOUR_API_KEY
        description: Bearer credential for the authentication scheme required by this endpoint.
      - name: expand
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        example:
        - job
        - phases
      - name: id
        in: path
        required: true
        schema:
          oneOf:
          - type: string
          - type: integer
          type: integer
        example: 1
        description: Hiring process ID from `GET /api/v0/processes`.
      responses:
        '200':
          description: Returns the details of a specific hiring process by its ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                          unlocked:
                            type: boolean
                          featured:
                            type: boolean
                          expires_on:
                            type: integer
                          created_at:
                            type: integer
                          updated_at:
                            type: integer
                          featured_at:
                            type: integer
                          closed_at:
                            type: integer
                          job:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                  attributes:
                                    type: object
                                    properties:
                                      title:
                                        type: string
                                      description_headline: {}
                                      description:
                                        type: string
                                      projects:
                                        type: string
                                      functions_headline: {}
                                      functions:
                                        type: string
                                      benefits_headline: {}
                                      benefits:
                                        type: string
                                      desirable_headline: {}
                                      desirable:
                                        type: string
                                      remote:
                                        type: boolean
                                      remote_modality:
                                        type: string
                                      remote_zone: {}
                                      countries:
                                        type: array
                                        items:
                                          type: string
                                      lang:
                                        type: string
                                      rejected_reasons:
                                        type: array
                                        items: {}
                                      category_name:
                                        type: string
                                      perks:
                                        type: array
                                        items: {}
                                      min_salary:
                                        type: integer
                                      max_salary:
                                        type: integer
                                      published_at:
                                        type: integer
                                      response_time_in_days:
                                        type: object
                                        properties:
                                          min: {}
                                          max: {}
                                        required:
                                        - min
                                        - max
                                      applications_count:
                                        type: integer
                                      location_regions:
                                        type: object
                                        properties:
                                          data:
                                            type: array
                                            items: {}
                                        required:
                                        - data
                                      location_tenants:
                                        type: object
                                        properties:
                                          data:
                                            type: array
                                            items: {}
                                        required:
                                        - data
                                      location_cities:
                                        type: object
                                        properties:
                                          data:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: integer
                                                type:
                                                  type: string
                                              required:
                                              - id
                                              - type
                                        required:
                                        - data
                                      modality:
                                        type: object
                                        properties:
                                          data:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                              type:
                                                type: string
                                            required:
                                            - id
                                            - type
                                        required:
                                        - data
                                      seniority:
                                        type: object
                                        properties:
                                          data:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                              type:
                                                type: string
                                            required:
                                            - id
                                            - type
                                        required:
                                        - data
                                      tags:
                                        type: object
                                        properties:
                                          data:
                                            type: array
                                            items: {}
                                        required:
                                        - data
                                      state:
                                        type: string
                                      company_shell_id: {}
                                      deleted:
                                        type: boolean
                                      questions:
                                        type: object
                                        properties:
                                          data:
                                            type: array
                                            items: {}
                                        required:
                                        - data
                                      location_countries:
                                        type: object
                                        properties:
                                          data:
                                            type: array
                                            items: {}
                                        required:
                                        - data
                                      submitted_at:
                                        type: integer
                                      created_at:
                                        type: integer
                                      updated_at:
                                        type: integer
                                    required:
                                    - title
                                    - description_headline
                                    - description
                                    - projects
                                    - functions_headline
                                    - functions
                                    - benefits_headline
                                    - benefits
                                    - desirable_headline
                                    - desirable
                                    - remote
                                    - remote_modality
                                    - remote_zone
                                    - countries
                                    - lang
                                    - rejected_reasons
                                    - category_name
                                    - perks
                                    - min_salary
                                    - max_salary
                                    - published_at
                                    - response_time_in_days
                                    - applications_count
                                    - location_regions
                                    - location_tenants
                                    - location_cities
                                    - modality
                                    - seniority
                                    - tags
                                    - state
                                    - company_shell_id
                                    - deleted
                                    - questions
                                    - location_countries
                                    - submitted_at
                                    - created_at
                                    - updated_at
                                required:
                                - id
                                - type
                            required:
                            - data
                          phases:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                    attributes:
                                      type: object
                                      properties:
                                        title:
                                          type: string
                                        position:
                                          type: integer
                                        kind:
                                          type: string
                                        reserved:
                                          type: boolean
                                        created_at:
                                          type: integer
                                        updated_at:
                                          type: integer
                                      required:
                                      - title
                                      - position
                                      - kind
                                      - reserved
                                      - created_at
                                      - updated_at
                                  required:
                                  - id
                                  - type
                            required:
                            - data
                        required:
                        - active
                        - unlocked
                        - featured
                        - expires_on
                        - created_at
                        - updated_at
                        - featured_at
                        - closed_at
                        - job
                        - phases
                    required:
                    - id
                    - type
                    - attributes
                required:
                - data
              example:
                data:
                  id: '278'
                  type: process
                  attributes:
                    active: true
                    unlocked: true
                    featured: false
                    expires_on: 0
                    created_at: 1784217403
                    updated_at: 1784217403
                    featured_at: 0
                    closed_at: 0
                    job:
                      data:
                        id: javascript-ninja-user-269-santiago
                        type: job
                        attributes:
                          title: JavaScript Ninja
                          description_headline: null
                          description: Build reliable products for technical hiring teams.
                          projects: Build reliable products for technical hiring teams.
                          functions_headline: null
                          functions: Build reliable products for technical hiring teams.
                          benefits_headline: null
                          benefits: Build reliable products for technical hiring teams.
                          desirable_headline: null
                          desirable: ''
                          remote: false
                          remote_modality: no_remote
                          remote_zone: null
                          countries:
                          - Chile
                          lang: lang_not_specified
                          rejected_reasons: []
                          category_name: Programming
                          perks: []
                          min_salary: 1500
                          max_salary: 2000
                          published_at: 1784217403
                          response_time_in_days:
                            min: null
                            max: null
                          applications_count: 0
                          location_regions:
                            data: []
                          location_tenants:
                            data: []
                          location_cities:
                            data:
                            - id: 1
                              type: location_city
                          modality:
                            data:
                              id: 312
                              type: modality
                          seniority:
                            data:
                              id: 321
                              type: seniority
                          tags:
                            data: []
                          state: published
                          company_shell_id: null
                          deleted: false
                          questions:
                            data: []
                          location_countries:
                            data: []
                          submitted_at: 0
                          created_at: 1784217403
                          updated_at: 1784217403
                    phases:
                      data:
                      - id: '949'
                        type: phase
                        attributes:
                          title: Applicants
                          position: 1
                          kind: applicants
                          reserved: true
                          created_at: 1784217403
                          updated_at: 1784217403
                      - id: '950'
                        type: phase
                        attributes:
                          title: Seleccionados
                          position: 2
                          kind: regular
                          reserved: false
                          created_at: 1784217403
                          updated_at: 1784217403
                      - id: '951'
                        type: phase
                        attributes:
                          title: Hired
                          position: 3
                          kind: hires
                          reserved: true
                          created_at: 1784217403
                          updated_at: 1784217403
                      - id: '952'
                        type: phase
                        attributes:
                          title: Discarded
                          position: 4
                          kind: discarded
                          reserved: true
                          created_at: 1784217403
                          updated_at: 1784217403
        '401':
          description: Returns the details of a specific hiring process by its ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: (Status 401) Unauthorized access.
                code: unauthorized
        '404':
          description: Returns the details of a specific hiring process by its ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: Record not found
                code: not_found
      operationId: retrieveProcess
  /api/v0/processes/{process_id}/phases:
    get:
      summary: List process phases
      tags:
      - Processes
      security:
      - ApiKeyAuth: []
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        example: Bearer YOUR_API_KEY
        description: Bearer credential for the authentication scheme required by this endpoint.
      - name: process_id
        in: path
        required: true
        schema:
          type: integer
        example: 5
        description: Hiring process ID from `GET /api/v0/processes` or `GET /api/v0/jobs/{job_id}/processes`.
      responses:
        '200':
          description: Returns the ordered phases for a hiring process, including phase kind metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            title:
                              type: string
                            position:
                              type: integer
                            kind:
                              type: string
                            reserved:
                              type: boolean
                            created_at:
                              type: integer
                            updated_at:
                              type: integer
                          required:
                          - title
                          - position
                          - kind
                          - reserved
                          - created_at
                          - updated_at
                      required:
                      - id
                      - type
                      - attributes
                required:
                - data
              example:
                data:
                - id: '101'
                  type: phase
                  attributes:
                    title: Applicants
                    position: 1
                    kind: applicants
                    reserved: true
                    created_at: 1778175360
                    updated_at: 1778175360
                - id: '102'
                  type: phase
                  attributes:
                    title: Selected
                    position: 2
                    kind: regular
                    reserved: false
                    created_at: 1778175360
                    updated_at: 1778175360
                - id: '103'
                  type: phase
                  attributes:
                    title: Hired
                    position: 3
                    kind: hires
                    reserved: true
                    created_at: 1778175360
                    updated_at: 1778175360
                - id: '104'
                  type: phase
                  attributes:
                    title: Discarded
                    position: 4
                    kind: discarded
                    reserved: true
                    created_at: 1778175360
                    updated_at: 1778175360
        '401':
          description: Returns the ordered phases for a hiring process, including phase kind metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: (Status 401) Unauthorized access to the API
                code: unauthorized
        '404':
          description: Returns the ordered phases for a hiring process, including phase kind metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
                required:
                - message
                - code
              example:
                message: Record not found
                code: not_found
      operationId: listProcessPhases
      description: 'Use each returned phase `id` as `phase_id` in `PATCH /api/v0/applications/{application_id}/phase`. If the chosen phase has `kind: "discarded"`, also send a valid `discard_reason`.'
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Company authentication for private endpoints. Send `Authorization: Bearer <api_key>`.'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Professional JWT token obtained via /api/v0/auth_tokens
    BoardSecretKey:
      type: http
      scheme: bearer
      bearerFormat: Board secret
      description: 'Board+ HMAC secret key. Send `Authorization: Bearer <board_secret_key>`. The legacy query-string form (`?secret_key=...`) is still accepted by the server but is discouraged because secrets leak into logs, browser history, and referrers.'
x-tagGroups:
- name: Public
  tags:
  - Categories
  - Companies
  - Countries
  - Headcounts
  - Industries
  - Insights
  - Modalities
  - Perks
  - Regions
  - Search
  - Seniorities
  - Tags
  - Tenant Cities
- name: Private
  tags:
  - Applications
  - Company shells
  - Jobs
  - Matching
  - Processes
  - Professionals
  - Webhooks
- name: Authentication
  tags:
  - Authentication
- name: Board+
  tags:
  - Board+
