openapi: 3.2.0
info:
  title: Get on Board Perks API
  version: 0.1.0
  description: The Get on Board API provides access to the data inside Get on Board, the leading recruitment platform for tech professionals in Latin America.
servers:
- url: https://www.getonbrd.com
  description: Production
- url: https://sandbox.getonbrd.dev
  description: Sandbox
tags:
- name: Perks
  description: Job perks and benefits
paths:
  /api/v0/perks:
    get:
      summary: List perks
      tags:
      - Perks
      responses:
        '200':
          description: Returns all available job perks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                            description:
                              type: string
                          required:
                          - name
                          - description
                      required:
                      - id
                      - type
                      - attributes
                required:
                - data
              example:
                data:
                - id: '1'
                  type: perk
                  attributes:
                    name: Accessible
                    description: An infrastructure adequate for people with special mobility needs.
                - id: '1'
                  type: perk
                  attributes:
                    name: Beverages and snacks
                    description: ACME Inc offers beverages and snacks for free consumption.
                - id: '1'
                  type: perk
                  attributes:
                    name: Bicycle parking
                    description: You can park your bicycle for free inside the premises.
                - id: '1'
                  type: perk
                  attributes:
                    name: Childcare
                    description: ACME Inc provides free childcare during the workday.
                - id: '1'
                  type: perk
                  attributes:
                    name: Commuting buses
                    description: ACME Inc provides free commuting buses from and to the offices.
                - id: '1'
                  type: perk
                  attributes:
                    name: Commuting stipend
                    description: ACME Inc offers a stipend to cover some commuting costs.
                - id: '1'
                  type: perk
                  attributes:
                    name: Company retreats
                    description: Team-building activities outside the premises.
                - id: '1'
                  type: perk
                  attributes:
                    name: Computer provided
                    description: ACME Inc provides a computer for your work.
                - id: '1'
                  type: perk
                  attributes:
                    name: Computer repairs
                    description: ACME Inc covers some computer repair expenses.
                - id: '1'
                  type: perk
                  attributes:
                    name: Conference stipend
                    description: ACME Inc covers tickets and/or some expenses for conferences related to the position.
                - id: '1'
                  type: perk
                  attributes:
                    name: Dental insurance
                    description: ACME Inc pays or copays dental insurance for employees.
                - id: '1'
                  type: perk
                  attributes:
                    name: Digital library
                    description: Access to digital books or subscriptions.
                - id: '1'
                  type: perk
                  attributes:
                    name: Education stipend
                    description: ACME Inc covers some educational expenses related to the position.
                - id: '1'
                  type: perk
                  attributes:
                    name: Equity offered
                    description: This position includes equity compensation (in the form of stock options or another mechanism).
                - id: '1'
                  type: perk
                  attributes:
                    name: Fitness subsidies
                    description: ACME Inc offers stipends for sports or fitness programs.
                - id: '1'
                  type: perk
                  attributes:
                    name: Flexible hours
                    description: Flexible schedule and freedom for attending family needs or personal errands.
                - id: '1'
                  type: perk
                  attributes:
                    name: Free car parking
                    description: You can park your car for free at the premises.
                - id: '1'
                  type: perk
                  attributes:
                    name: Health coverage
                    description: ACME Inc pays or copays health insurance for employees.
                - id: '1'
                  type: perk
                  attributes:
                    name: Informal dress code
                    description: No dress code is enforced.
                - id: '1'
                  type: perk
                  attributes:
                    name: Internal talks
                    description: ACME Inc offers space for internal talks or presentations during working hours.
                - id: '1'
                  type: perk
                  attributes:
                    name: Library
                    description: Access to a library of physical books.
                - id: '1'
                  type: perk
                  attributes:
                    name: Life insurance
                    description: ACME Inc pays or copays life insurance for employees.
                - id: '1'
                  type: perk
                  attributes:
                    name: Meals provided
                    description: ACME Inc provides free lunch and/or other kinds of meals.
                - id: '1'
                  type: perk
                  attributes:
                    name: Mobile phone provided
                    description: ACME Inc provides a mobile phone for work use.
                - id: '1'
                  type: perk
                  attributes:
                    name: Outdoors
                    description: The premises have outdoor spaces such as parks or terraces.
                - id: '1'
                  type: perk
                  attributes:
                    name: Paid sick days
                    description: Sick leave is compensated (limits might apply).
                - id: '1'
                  type: perk
                  attributes:
                    name: Parental leave over legal
                    description: ACME Inc offers paid parental leave over the legal minimum.
                - id: '1'
                  type: perk
                  attributes:
                    name: Performance bonus
                    description: Extra compensation is offered upon meeting performance goals.
                - id: '1'
                  type: perk
                  attributes:
                    name: Personal coaching
                    description: ACME Inc offers counseling or personal coaching to employees.
                - id: '1'
                  type: perk
                  attributes:
                    name: Pet-friendly
                    description: Pets are welcome at the premises.
                - id: '1'
                  type: perk
                  attributes:
                    name: Recreational areas
                    description: Space for games or sports.
                - id: '1'
                  type: perk
                  attributes:
                    name: Relocation offered
                    description: If you are moving in from another country, ACME Inc helps you with your relocation.
                - id: '1'
                  type: perk
                  attributes:
                    name: Fully remote
                    description: You can work from anywhere in the world.
                - id: '1'
                  type: perk
                  attributes:
                    name: Partially remote
                    description: You can work from your home some days a week.
                - id: '1'
                  type: perk
                  attributes:
                    name: Retirement plan
                    description: ACME Inc pays or matches payment for plans such as 401(k) and others.
                - id: '1'
                  type: perk
                  attributes:
                    name: Shopping discounts
                    description: ACME Inc provides some discounts or deals in certain stores.
                - id: '1'
                  type: perk
                  attributes:
                    name: Speaker travel
                    description: If you speak at a conference, ACME Inc will cover your expenses.
                - id: '1'
                  type: perk
                  attributes:
                    name: Time for side projects
                    description: ACME Inc allows employees to work in side-projects during work hours.
                - id: '1'
                  type: perk
                  attributes:
                    name: Vacation on birthday
                    description: Your birthday counts as an extra day of vacation.
                - id: '1'
                  type: perk
                  attributes:
                    name: Vacation over legal
                    description: ACME Inc gives you paid vacations over the legal minimum.
                - id: '1'
                  type: perk
                  attributes:
                    name: Wellness program
                    description: ACME Inc offers or subsidies mental and/or physical health activities.
      operationId: listPerks
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Company authentication for private endpoints. Send `Authorization: Bearer <api_key>`.'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Professional JWT token obtained via /api/v0/auth_tokens
    BoardSecretKey:
      type: http
      scheme: bearer
      bearerFormat: Board secret
      description: 'Board+ HMAC secret key. Send `Authorization: Bearer <board_secret_key>`. The legacy query-string form (`?secret_key=...`) is still accepted by the server but is discouraged because secrets leak into logs, browser history, and referrers.'
x-tagGroups:
- name: Public
  tags:
  - Categories
  - Companies
  - Countries
  - Headcounts
  - Industries
  - Insights
  - Modalities
  - Perks
  - Regions
  - Search
  - Seniorities
  - Tags
  - Tenant Cities
- name: Private
  tags:
  - Applications
  - Company shells
  - Jobs
  - Matching
  - Processes
  - Professionals
  - Webhooks
- name: Authentication
  tags:
  - Authentication
- name: Board+
  tags:
  - Board+
